# Virtual Environment
myenv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/
# Environment Variables
.env

# VS Code
.vscode/

# Operating System Files
.DS_Store
Thumbs.db
venv/
__pycache__/
*.pyc

database/predictions.db
*.db

.env